<% include partials/header %>

    <div class="container custom-container">
        <% if(currentUser){ %>
            <div class="card">
                <div class="card-header">
                    Want to create a new post?
                </div>
                <div class="card-body">
                    <a href="/blog/new" class="btn btn-primary">New Post</a>
                </div>
            </div>
        <% } %>
        <div class="custom-container">
            <% blogPost.forEach(function(blogPost){ %>
                <div class="row"> 
                    <div class="col blog-posting">
                        <h2><strong><%= blogPost.title %></strong></h2>
                        <h5>By <%= blogPost.author.username %></h5>
                        <hr />
                        <p>
                            <%- blogPost.content.substring(0, 200) %> ...
                        </p>
                        <p class="blog-date"><em><%= blogPost.created.toDateString() %></em></p>                        
                        <a href="/blog/<%= blogPost._id %>" class="btn btn-primary">More</a>
                        <% if(currentUser){ %>
                        <form class="delete-button" action="/blog/<%= blogPost._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<% include partials/footer %>


